.header{
    height:  55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom-style:solid ;
    border-bottom-width: 1px ;
    border-bottom-color: rgb(223, 218, 218) ;
    z-index: 1000;
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width:500px ;
}
.right-section{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
}
.hamburger-icon{
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    width: 64px;
    height: 40px;
    border: solid;
    border-width: 1px;
    border-color: rgb(198, 187, 187);
    margin-left: -1px;
}
.search-icon{
    width: 50%;
}
.voice-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(239, 233, 233);
    border-radius: 50px;
    margin-left: 8px;
}
.voice-icon{
    width: 80%;
}
.search-bar{
    height: 36px;
    flex: 1;
    border: solid;
    border-width: 1px;
    border-color: rgb(198, 187, 187);
    font-size: 16px;
    width: 0;

}
.youtube-icons{
    height: 36px;
}
.youtube-apps{
    height: 36px;
}
.notification{
    height: 36px;
}
.youtube-profile-pic{
    height: 36px;
    
}
.notification-container{
    position: relative;
    
}
.notification-count{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-family: roboto,arial;
    font-size: 14px;

}
